/PA12019_P2_FormularioCRUDTabla/build/
/PA12019_P2_FormularioCRUDTablaEventoClic/nbproject/private/
/PA12019_P2_FormularioCRUDTablaEventoClic/build/
/PA12019_P2_FormularioCRUDCapas/nbproject/private/
/PA12019_P2_FormularioCRUDCapas/build/
/PA12019_P2_Jdbc_CRUD/nbproject/private/
/PA12019_P2_Jdbc_CRUD/build/
/PA12019_P2_Persistencia/nbproject/private/